body {
    text-align: center;
    margin: 0;
    padding: 0;
    background-attachment:  fixed;
    background-position: center, center;
    background-repeat: no-repeat;
    background-image: url('home page without start.png');
    background-size: contain;
  }

.container {
    position: absolute;
}

.top-left {
    top: 10px;
    left: 150px;
}

.bottom-right {
    bottom: 0px;
    right: 130px;
}

.button {
    display: inline-block;
}

.top-left .button img {
    width: 200px; /* Adjust the width for the top-left button */
    height: auto;
}

.bottom-right .button img {
    width: 600px; /* Adjust the width for the bottom-right button */
    height: auto;
}

.button img:hover {
    opacity: 0.8;
}

  
